*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif;
}
html,
body {
  direction: rtl;
  scroll-behavior: smooth;
  font-family: 'Vazirmatn', sans-serif;
}

a {
  text-decoration: none;
}

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;
